baseURL: https://blog.iamgodot.com
languageCode: en-us
title: 多随笔
theme:
  - github.com/adityatelange/hugo-PaperMod

pagination:
  pagerSize: 5

security:
  exec:
    osEnv:
      [
        "(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM|HOME|SSH_AUTH_SOCK|USERPROFILE|XDG_CONFIG_HOME|HTTP_PROXY|HTTPS_PROXY)$",
      ]

params:
  DateFormat: Jan 2, 2006

  defaultTheme: light
  disableThemeToggle: false

  ShowShareButtons: false
  ShowReadingTime: false
  ShowToc: true
  TocOpen: false
  ShowBreadCrumbs: false
  ShowPostNavLinks: true
  ShowCodeCopyButtons: true

  comments: true

  assets:
    favicon: icons/favicon.ico
    favicon16x16: icons/favicon-16x16.png
    favicon32x32: icons/favicon-32x32.png
    apple_touch_icon: icons/apple-touch-icon.png
    android-chrome: icons/android-chrome-512x512.png

  homeInfoParams:
    Title: 溪水慢慢流淌，也能汇聚成宽广的大海
    Content: |
      - 有一片中文随笔的自留地，是一件幸福的事。
      - 此去经年，铅华尽洗，一如往昔。

menu:
  main:
    - identifier: archive
      name: Archive
      url: /archive/
      weight: 10
    - identifier: tags
      name: Tags
      url: /tags/
      weight: 20

outputs:
  home:
    - HTML
    - RSS
    - JSON

googleAnalytics: UA-157042624-1

markup:
  goldmark:
    renderer:
      unsafe: true
